*.vcxproj.user
*.sln.metaproj
*.VC.db
*.rej
*.orig
*.tlb
*_i.c
*_p.c
*.class
ipch
*.opensdf
*.sdf
*_i.h
*.suo
*.wixobj
*.wixpdb
*.msi
*.msm
*.mta
*.log
*-emergency*.mga
*.nupkg
*.wixlib
Release_PGO
obj/
GME/XmlBackEnd/XmlBackEnd.h
GME/XmlBackEnd/Release
GME/Search/Release
GME/Release
GME/ReleaseUnicode
GME/DebugUnicode
GME/PartBrowser/Release
GME/PartBrowser/PartBrowser_h.h
GME/Parser/Release
GME/PanningView/Release
GME/PanningView/PanningView_h.h
GME/ObjectInspector/Release
Doc/README.txt
Doc/GME Manual and User Guide/GME Manual and User Guide.fo
Doc/GME Manual and User Guide/htmlhelp.hhp
Doc/GME Manual and User Guide/toc.hhc
Doc/GME Manual and User Guide/unused
Doc/GME Manual and User Guide/ap*.html
Doc/GME Manual and User Guide/ar*.html
GME/Console/Release/
GME/ConstraintManager/ConstraintManager.h
GME/ConstraintManager/OCLLexer.cpp
GME/ConstraintManager/OCLLexer.h
GME/ConstraintManager/OCLParser.cpp
GME/ConstraintManager/OCLParser.dlg
GME/ConstraintManager/OCLParser.h
GME/ConstraintManager/OCLTokens.h
GME/ConstraintManager/Release/
GME/ConstraintManager/ocl.cpp
GME/Core/Release/
GME/DotNetPIAs/GME.MGA.Core.dll
GME/DotNetPIAs/GME.MGA.Meta.dll
GME/DotNetPIAs/GME.MGA.Parser.dll
GME/DotNetPIAs/GME.MGA.dll
GME/DotNetPIAs/GME.Util.dll
GME/DotNetPIAs/GME.dll
GME/DotNetPIAs/Release/
GME/GMEActiveBrowser/Release/
GME/Gme/Release/
GME/Interfaces/Core.h
GME/Interfaces/CoreLib.h
GME/Interfaces/Gme.h
GME/Interfaces/GmeLib.h
GME/Interfaces/Meta.h
GME/Interfaces/MetaLib.h
GME/Interfaces/Mga.h
GME/Interfaces/MgaLib.h
GME/Interfaces/MgaUtil.h
GME/Interfaces/MgaUtilLib.h
GME/Interfaces/Parser.h
GME/Interfaces/ParserLib.h
GME/Interfaces/Release/
GME/Interfaces/dlldata.c
GME/Meta/Release/
GME/Mga/Release/
GME/MgaUtil/CrashRpt.dll
GME/MgaUtil/Release/
GME/Common/Debug
GME/Console/Debug
GME/ConstraintManager/Debug
GME/Debug
GME/Gme/Debug
GME/Interfaces/Debug
GME/Mga/Debug
GME/MgaUtil/Debug
GME/XmlBackEnd/Debug
GME/Parser/Debug
GME/Search/Debug
GME/Core/Debug
GME/Annotator/DecoratorLib.h
GME/Annotator/Release/
GME/MgaDecorators/Release/
GME/ObjectInspector/unused_ObjectInspector.h
GME/Search/unused_Search.h
Paradigms/HFSM/HFSMSimulator/ComponentLib.h
Paradigms/HFSM/HFSMSimulator/Release/
Paradigms/MetaGME/BONExtender/ComponentLib.h
Paradigms/MetaGME/BONExtender/Release/
Paradigms/MetaGME/MetaDecorator/DecoratorLib.h
Paradigms/MetaGME/MetaDecorator/Release/
Paradigms/MetaGME/MetaInterpreter/ComponentLib.h
Paradigms/MetaGME/MetaInterpreter/Release/
Paradigms/MetaGME/NamespaceConfig/ComponentLib.h
Paradigms/MetaGME/NamespaceConfig/Release/
Paradigms/MetaGME/Paradigm/Release/
Paradigms/MetaGME/Release/
Paradigms/SF/BON2SFInterpreter/ComponentLib.h
Paradigms/SF/BON2SFInterpreter/Release/
Paradigms/SF/BON2SFSample/ComponentLib.h
Paradigms/SF/BON2SFSample/Release/
Paradigms/SF/SFInterpreter/ComponentLib.h
Paradigms/SF/SFInterpreter/Release/
Paradigms/UML/decorator/Release/
SDK/DotNet/CSharpComponentWizard/bin/
SDK/DotNet/DsmlGenerator/CSharpDsmlGenerator/bin/
SDK/DotNet/DsmlGenerator/ISIS.GME.Common/bin/
SDK/DotNet/DsmlGenerator/MgaMeta/bin/
SDK/Java/native/AutoRouter/Release/
SDK/Java/native/Jaut/Release/
SDK/Java/native/JavaCompRegister/Release/
SDK/Java/native/JavaCompRunner/ComponentLib.h
SDK/Java/native/JavaCompRunner/Release/
SDK/Java/native/MgaDecoratorWrap/Release/
SDK/PatternProcessor/ComponentLib.h
SDK/PatternProcessor/Release/
Tests/GPyUnit/GME_310/TestRefportAPI.mga
Tests/GPyUnit/_console_ansi.js
Tests/GPyUnit/_console_utf16.js
Tools/AutoLayout/ComponentLib.h
Tools/AutoLayout/Release/
Tools/DumpWMF/bin/
Tools/GMEplink/Release/
Tools/TableEditor/ComponentLib.h
Tools/TableEditor/Release/
Tests/GPyUnit/GME_297/*.mga
Tests/GPyUnit/*.mga
*.pyc
Tests/GPyUnit/GME_310/test1-output.mga
GME/DecoratorLib
GME/MgaDecorators/MgaDecoratorLib.h
GME/Annotator/DecoratorLib.h
GME/Annotator/Release/
GME/CSGUI/bin/
GME/MgaDecorators/Release/
GME/ObjectInspector/unused_ObjectInspector.h
GME/Search/unused_Search.h
Paradigms/HFSM/HFSMSimulator/ComponentLib.h
Paradigms/HFSM/HFSMSimulator/Release/
Paradigms/MetaGME/BONExtender/ComponentLib.h
Paradigms/MetaGME/BONExtender/Release/
Paradigms/MetaGME/MetaDecorator/DecoratorLib.h
Paradigms/MetaGME/MetaDecorator/Release/
Paradigms/MetaGME/MetaInterpreter/ComponentLib.h
Paradigms/MetaGME/MetaInterpreter/Release/
Paradigms/MetaGME/NamespaceConfig/ComponentLib.h
Paradigms/MetaGME/NamespaceConfig/Release/
Paradigms/MetaGME/Paradigm/Release/
Paradigms/MetaGME/Release/
Paradigms/SF/BON2SFInterpreter/ComponentLib.h
Paradigms/SF/BON2SFInterpreter/Release/
Paradigms/SF/BON2SFSample/ComponentLib.h
Paradigms/SF/BON2SFSample/Release/
Paradigms/SF/SFInterpreter/ComponentLib.h
Paradigms/SF/SFInterpreter/Release/
Paradigms/UML/decorator/Release/
SDK/DotNet/CSharpComponentWizard/bin/
SDK/DotNet/DsmlGenerator/CSharpDsmlGenerator/bin/
SDK/DotNet/DsmlGenerator/ISIS.GME.Common/bin/
SDK/DotNet/DsmlGenerator/MgaMeta/bin/
SDK/Java/native/AutoRouter/Release/
SDK/Java/native/Jaut/Release/
SDK/Java/native/JavaCompRegister/Release/
SDK/Java/native/JavaCompRunner/ComponentLib.h
SDK/Java/native/JavaCompRunner/Release/
SDK/Java/native/MgaDecoratorWrap/Release/
SDK/PatternProcessor/ComponentLib.h
SDK/PatternProcessor/Release/
Tests/GPyUnit/GME_310/TestRefportAPI.mga
Tests/GPyUnit/_console_ansi.js
Tests/GPyUnit/_console_utf16.js
Tools/AutoLayout/ComponentLib.h
Tools/AutoLayout/Release/
Tools/DumpWMF/bin/
Tools/GMEplink/Release/
Tools/TableEditor/ComponentLib.h
Tools/TableEditor/Release/
tmp
Paradigms/MetaGME/DecoratorLib
Paradigms/MetaGME/ReleaseUnicode
Tests/GPyUnit/BigModelTest
GME/Core/test_undo.mga
GME/Gme/res/GME.ico_make/
GME/Gme/res/output.ico
GME/Lib/CrashRpt/Changelog.txt
GME/Lib/CrashRpt/CrashRpt_vs2003.sln
GME/Lib/CrashRpt/CrashRpt_vs2005.sln
GME/Lib/CrashRpt/CrashRpt_vs2010.sln
GME/Lib/CrashRpt/bin/CrashRptProbe.dll
GME/Lib/CrashRpt/bin/crprober.exe
GME/Lib/CrashRpt/bin/dbghelp.dll
GME/Lib/CrashRpt/bin/dummy.ini
GME/Lib/CrashRpt/bin/dummy.log
GME/Lib/CrashRpt/bin/x64/CrashRptProbe.dll
GME/Lib/CrashRpt/bin/x64/CrashRptProbed.dll
GME/Lib/CrashRpt/bin/x64/CrashRptTestd.exe
GME/Lib/CrashRpt/bin/x64/CrashRptd.bsc
GME/Lib/CrashRpt/bin/x64/Testsd.exe
GME/Lib/CrashRpt/bin/x64/crashcond.bsc
GME/Lib/CrashRpt/bin/x64/crashcond.exe
GME/Lib/CrashRpt/bin/x64/crprober.exe
GME/Lib/CrashRpt/bin/x64/crproberd.exe
GME/Lib/CrashRpt/bin/x64/dbghelp.dll
GME/Lib/CrashRpt/bin/x64/dummy.ini
GME/Lib/CrashRpt/bin/x64/dummy.log
GME/Lib/CrashRpt/clean.bat
GME/Lib/CrashRpt/docs/
GME/Lib/CrashRpt/include/CrashRptProbe.h
GME/Lib/CrashRpt/index.html
GME/Lib/CrashRpt/lang_files/
GME/Lib/CrashRpt/lib/CrashRptProbe.lib
GME/Lib/CrashRpt/lib/x64/CrashRptProbe.lib
GME/Lib/CrashRpt/lib/x64/CrashRptProbed.lib
GME/Lib/CrashRpt/processing/
GME/Lib/CrashRpt/reporting/crashcon/
GME/Lib/CrashRpt/reporting/crashrpt/CrashHandler.cpp
GME/Lib/CrashRpt/reporting/crashrpt/CrashHandler.h
GME/Lib/CrashRpt/reporting/crashrpt/CrashRpt.cpp
GME/Lib/CrashRpt/reporting/crashrpt/CrashRpt.rc
GME/Lib/CrashRpt/reporting/crashrpt/CrashRpt_vs2003.vcproj
GME/Lib/CrashRpt/reporting/crashrpt/CrashRpt_vs2005.vcproj
GME/Lib/CrashRpt/reporting/crashrpt/CrashRpt_vs2010.vcxproj
GME/Lib/CrashRpt/reporting/crashrpt/CrashRptd.def
GME/Lib/CrashRpt/reporting/crashrpt/CritSec.h
GME/Lib/CrashRpt/reporting/crashrpt/Prefastdef.h
GME/Lib/CrashRpt/reporting/crashrpt/SharedMem.cpp
GME/Lib/CrashRpt/reporting/crashrpt/SharedMem.h
GME/Lib/CrashRpt/reporting/crashrpt/StdAfx.cpp
GME/Lib/CrashRpt/reporting/crashrpt/StdAfx.h
GME/Lib/CrashRpt/reporting/crashrpt/Utility.cpp
GME/Lib/CrashRpt/reporting/crashrpt/Utility.h
GME/Lib/CrashRpt/reporting/crashrpt/res/
GME/Lib/CrashRpt/reporting/crashrpt/resource.h
GME/Lib/CrashRpt/reporting/crashrpt/strconv.h
GME/Lib/CrashRpt/reporting/crashrpttest/
GME/Lib/CrashRpt/reporting/crashsender/
GME/Lib/CrashRpt/reporting/scripts/
GME/Lib/CrashRpt/tests/
GME/Lib/CrashRpt/thirdparty/
GME/Lib/CrashRpt_v.1.2.10_r1203.7z
GME/Lib/apr-iconv-0.9.7-win32-src-r2.zip
GME/Lib/notworking-subversion-1.6.17/
GME/Lib/openssl-0.9.8r.tar.gz
GME/Lib/subv_release/files
GME/Lib/subv_release/libeay32.dll
GME/Lib/subv_release/libsvn_client-1.dll
GME/Lib/subv_release/libsvn_delta-1.dll
GME/Lib/subv_release/libsvn_diff-1.dll
GME/Lib/subv_release/libsvn_fs-1.dll
GME/Lib/subv_release/libsvn_ra-1.dll
GME/Lib/subv_release/libsvn_repos-1.dll
GME/Lib/subv_release/libsvn_subr-1.dll
GME/Lib/subv_release/libsvn_wc-1.dll
GME/Lib/subv_release/ssleay32.dll
GME/Lib/subv_release/svn.exe
GME/Lib/subversion-1.6.17.tar.bz2
GME/Lib/subversion-1.6.17.zip
GME/Lib/subversion-1.6.17/
GME/Lib/subversion-1.7.0-rc4.zip
GME/Lib/subversion-1.7.0-rc4/
GME/Lib/subversion-deps-1.6.17.tar.bz2
GME/Lib/subversion-deps-1.6.17.zip
GME/Lib/x64/xerces-c_3D.lib
GME/Lib/x64/xerces-c_3_1D.dll
GME/Lib/xxx/
GME/mugme/
GME/tmp
GME/x64/
Install/GME.cab
Paradigms/HFSM/HFSM-Demo01.mga
Paradigms/HFSM/HFSM-Demo02.mga
Paradigms/HFSM/HFSM-Meta.mga
Paradigms/MetaGME/MetaGME-model.mga
Paradigms/MetaGME/x64/
Paradigms/MetaGME/DebugUnicode/
Paradigms/MetaGME/ReleaseUnicode/
Paradigms/SF/SFDemo.mga
Paradigms/SF/SFMeta.mga
Paradigms/UML/UMLMeta.mga
Paradigms/UML/decorator/DecoratorLib/
Paradigms/UML/decorator/ReleaseUnicode/
Paradigms/UML/decorator/UMLDecoratorLib.h
Paradigms/UML/decorator/x64/
GME/Annotator/DecoratorLib.h
GME/Annotator/Release/
GME/Gme/GME.APS
GME/MgaDecorators/Release/
GME/ObjectInspector/unused_ObjectInspector.h
GME/Search/unused_Search.h
GME/CSGUI/bin/
GME/Common/x64/
GME/Console/x64/
GME/ConstraintManager/x64/
GME/Core/x64/
GME/GMEActiveBrowser/x64/
GME/Gme/x64/
GME/Meta/x64/
GME/Mga/x64/
GME/MgaDotNetServices/bin/
GME/MgaUtil/x64/
GME/ObjectInspector/x64/
GME/PanningView/x64/
GME/Parser/x64/
GME/PartBrowser/x64/
GME/Search/x64/
GME/XmlBackEnd/x64/
Paradigms/HFSM/HFSMSimulator/ComponentLib.h
Paradigms/HFSM/HFSMSimulator/Release/
Paradigms/MetaGME/BONExtender/ComponentLib.h
Paradigms/MetaGME/BONExtender/Release/
Paradigms/MetaGME/MetaDecorator/DecoratorLib.h
Paradigms/MetaGME/MetaDecorator/Release/
Paradigms/MetaGME/MetaInterpreter/ComponentLib.h
Paradigms/MetaGME/MetaInterpreter/Release/
Paradigms/MetaGME/NamespaceConfig/ComponentLib.h
Paradigms/MetaGME/NamespaceConfig/Release/
Paradigms/MetaGME/Paradigm/Release/
Paradigms/MetaGME/Release/
Paradigms/SF/BON2SFInterpreter/ComponentLib.h
Paradigms/SF/BON2SFInterpreter/Release/
Paradigms/SF/BON2SFSample/ComponentLib.h
Paradigms/SF/BON2SFSample/Release/
Paradigms/SF/SFInterpreter/ComponentLib.h
Paradigms/SF/SFInterpreter/Release/
Paradigms/UML/decorator/Release/
SDK/DotNet/CSharpComponentWizard/bin/
SDK/DotNet/DsmlGenerator/CSharpDsmlGenerator/bin/
SDK/DotNet/DsmlGenerator/ISIS.GME.Common/bin/
SDK/DotNet/DsmlGenerator/MgaMeta/bin/
SDK/Java/native/AutoRouter/Release/
SDK/Java/native/Jaut/Release/
SDK/Java/native/JavaCompRegister/Release/
SDK/Java/native/JavaCompRunner/ComponentLib.h
SDK/Java/native/JavaCompRunner/Release/
SDK/Java/native/MgaDecoratorWrap/Release/
SDK/PatternProcessor/ComponentLib.h
SDK/PatternProcessor/Release/
Tests/GPyUnit/GME_310/TestRefportAPI.mga
Tests/GPyUnit/_console_ansi.js
Tests/GPyUnit/_console_utf16.js
Tools/AutoLayout/ComponentLib.h
Tools/AutoLayout/Release/
Tools/DumpWMF/bin/
Tools/GMEplink/Release/
Tools/TableEditor/ComponentLib.h
Tools/TableEditor/Release/
SDK/Decorator Examples/NewSample/NewDecoratorSample.zip
SDK/Decorator Examples/PlainSample/PlainDecoratorSample.zip
SDK/Java/native/Jaut/JAUT.h
SDK/ScriptSDK/ScriptSDK.zip
Tests/GPyUnit/XMLBackend/
Tests/GPyUnit/_console_ansi.py
Tests/GPyUnit/_console_utf16.py
Tests/tests.xml
Tests/tests_x64.xml
 Tests/GPyUnit/GME_310/TestRefportAPI.mga
Tests/GPyUnit/GME_391/parsertest.mga
Tests/GPyUnit/GME_391/parsertest.xme
Tests/GPyUnit/GME_391/parsertest.xml
Tests/GPyUnit/GME_391/parsertest2.xml
Tests/GPyUnit/GME_391/testXME.xme
_tc*.mga
_tc*.mgatmp
Tests/tmp.mga
projs
Tests/GPyUnit/TestRegistry-output.xme
Tests/GPyUnit/util/MUTest/
Tests/GPyUnit/util/MUTestRepo/
GME/Gme/res/icon_sources/*
Tests/GPyUnit/_console_ansi.js
Tests/GPyUnit/_console_utf16.js
Tests/tests.xml
Tests/GPyUnit/GME_310/TestRefportAPI.mga
Tests/GPyUnit/GME_391/GME391FloatingPointTest.cpp
Tests/GPyUnit/GME_391/GME391FloatingPointTest.h
Tests/GPyUnit/GME_391/GME391FloatingPointTest.xml
Tests/GPyUnit/GME_391/GME391FloatingPointTest.xsd
Tests/GPyUnit/GME_391/GME391FloatingPointTest_uml.mga
Tests/GPyUnit/GME_391/parsertest.mga
Tests/GPyUnit/GME_391/parsertest.xme
Tests/GPyUnit/GME_391/parsertest.xml
Tests/GPyUnit/GME_391/parsertest2.xml
Tests/GPyUnit/GME_391/testXME.xme
Tests/GPyUnit/GME_391/udmparsertest.mga
.idea
GME/DotNetPIAs_1.0.1.0/policy.1.0.GME.MGA.Core.dll
GME/DotNetPIAs_1.0.1.0/policy.1.0.GME.MGA.Meta.dll
GME/DotNetPIAs_1.0.1.0/policy.1.0.GME.MGA.Parser.dll
GME/DotNetPIAs_1.0.1.0/policy.1.0.GME.MGA.dll
GME/DotNetPIAs_1.0.1.0/policy.1.0.GME.Util.dll
GME/DotNetPIAs_1.0.1.0/policy.1.0.GME.dll
Paradigms/MetaGME/AssemblySignature.snk
Paradigms/MetaGME/ISIS.GME.Dsml.MetaGME.Classes.cs
Paradigms/MetaGME/ISIS.GME.Dsml.MetaGME.Interfaces.cs
Paradigms/MetaGME/ISIS.GME.Dsml.MetaGME.dll
Paradigms/MetaGME/ISIS.GME.Dsml.MetaGME.xml
SDK/DotNet/DsmlGenerator/.nuget/NuGet.exe
Tests/GPyUnit/DsmlGeneratorTest/packages/  
Tests/GPyUnit/ISIS.GME.Dsml.MetaGME.Classes.cs
Tests/GPyUnit/ISIS.GME.Dsml.MetaGME.Interfaces.cs
Tests/GPyUnit/ISIS.GME.Dsml.MetaGME.dll
Tests/GPyUnit/ISIS.GME.Dsml.MetaGME.xml
Tests/LeakDiff.txt
Tests/LeakDump1.txt
Tests/LeakDump2.txt
Tools/ModelMigrate/IDLComp/GMEIDLs_h.h
GME/Annotator/x64/
GME/Common/Release/
GME/DotNetPIAs/x64/
GME/MgaDecorators/x64/
Paradigms/MetaGME/BONExtender/x64/
Paradigms/MetaGME/MetaDecorator/x64/
Paradigms/MetaGME/MetaInterpreter/x64/
Paradigms/MetaGME/NamespaceConfig/x64/
Paradigms/MetaGME/Paradigm/x64/
SDK/Java/gme/
Tests/GPyUnit/DsmlGeneratorTest/bin/
Tests/GPyUnit/DsmlGeneratorTest/packages/
Tools/AutoLayout/x64/
