IDD_ABOUTBOX DIALOGEX 0, 0, 179, 181
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About GME"
FONT 10, "MS Sans Serif", 0, 0, 0x0
BEGIN
    CTEXT           GME_VERSION_STR,IDC_STATIC,7,65,165,8,SS_NOPREFIX
    CTEXT           "Copyright ? 2000-2017 Vanderbilt University",IDC_STATIC,7,135,165,8
    DEFPUSHBUTTON   "OK",IDOK,65,161,43,12,WS_GROUP
    CTEXT           "GENERIC MODELING ENVIRONMENT 17",IDC_STATIC,7,55,165,8
    CONTROL         184,IDC_BMPABOUT,"Static",SS_BITMAP | SS_NOTIFY,7,7,165,45
    CTEXT           "This product includes software developed by the Apache Software Foundation (http://www.apache.org)",IDC_STATIC,7,80,165,30
    CTEXT           "Portions of this software are based on the Purdue Compiler Construction Tool Set (http://www.antlr.org)",IDC_STATIC,7,116,165,20
END
